.client-card {
	width: 25.1vw;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #f4f4f4;
	border-radius: 24px;
	margin: 0 2.11%;
	padding: 11.87% 4.52% 5.48%;
}

.icon-style {
	position: absolute;
	top: -2.08vw;
	width: 8.33vw;
}

.card-title {
	padding-bottom: 2.71vw;
}

@media (max-width: 768px) {
	.client-card {
		width: 62.4vw;
		max-height: 76vw;
		margin: 0 auto;
		padding: 15.2vw 8.67vw;
	}

	.icon-style {
		width: 19.47vw;
		top: -10.08vw;
	}

	.client-card h4 {
		margin-bottom: 0;
		font-size: 8vw;
		line-height: 8vw;
	}

	.card-title {
		padding-bottom: 5.71vw;
	}

	.client-card p {
		font-size: 3.2vw;
		margin-bottom: 0;
	}
}