.banner-about {
	width: 100vw;
	overflow: hidden;
	position: relative;
}

.img-banner-about-us {
	display: block;
	width: 172.9%;
	margin-top: -56.5%;
	margin-bottom: -14.5%;
	margin-left: -60%;
}

.overlay {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.61);
	padding: 14.53vw 0px 12.65vw;
}

.banner-about-text {
	color: #ffffff;
	font-family: 'Roboto-Thin';
	font-size: 2.60vw;
	line-height: 3.13vw;
	width: 46.98vw;
	text-align: center;
}

.banner-highlight {
	color: #6BAEB9;
	width: 24.58vw;
}

.arrow-about {
	width: 3.13vw;
}

@media(max-width: 768px) {
	.banner-about {
		height: 934px;
	}

	.img-banner-about-us {
		height: 100%;
		width: auto;
		margin-top: -0%;
		margin-bottom: -0%;
		margin-left: -13%;
	}

	.overlay {
		padding: 40.37vw 0px 9.63vw;
		justify-content: space-between;
	}
	
	.banner-about-text {
		font-size: 5.21vw;
		line-height: 5.86vw;
		width: 73.31vw;
	}

	.arrow-about {
		width: 3.94vw;
	}
}

@media (max-width: 690px) {
	.banner-about {
		height: 830px;
	}
}

@media (max-width: 615px) {
	.banner-about {
		height: 725px;
	}
}

@media (max-width: 540px) {
	.banner-about {
		height: 630px;
	}
}

@media (max-width: 470px) {
	.banner-about {
		height: 560px;
	}
}

@media(max-width: 425px) {
	.banner-about {
		height: 796px;
	}

	.img-banner-about-us {
		margin-left: -70%;
	}

	.overlay {
		padding: 77.87vw 0px 0vw;
		justify-content: unset;
	}

	.arrow-about {
		width: 6.02vw;
	}
}

@media(max-width: 375px) {
	.banner-about {
		height: 700px;
	}
}