.img-container-about {
	width: 100vw;
	overflow: hidden;
}

.about-img-container {
	width: 100%;
	margin-top: -7%;
	margin-bottom: -9%;
}

@media (max-width: 768px) {
	.img-container-about {
		height: 1160px;
	}

	.about-img-container {
		height: 100%;
		width: auto;
		margin-top: 0%;
		margin-bottom: 0%;
	}
}

@media (max-width: 700px) {
	.img-container-about {
		height: 1057px;
	}
}

@media (max-width: 645px) {
	.img-container-about {
		height: 974px;
	}
}

@media (max-width: 595px) {
	.img-container-about {
		height: 898px;
	}
}

@media (max-width: 550px) {
	.img-container-about {
		height: 830px;
	}
}

@media (max-width: 500px) {
	.img-container-about {
		height: 755px;
	}
}

@media (max-width: 455px) {
	.img-container-about {
		height: 687px;
	}
}

@media (max-width: 425px) {
	.img-container-about {
		height: 660px;
	}
}

@media (max-width: 375px) {
	.img-container-about {
		height: 590px;
	}
}