.banner-contact {
	width: 100vw;
	overflow: hidden;
	position: relative;
}
.img-banner-contact {
	display: block;
	width: 100%;
	margin-top: -21%;
}

.heading-banner-contact {
	position: absolute;
	top: 13.02vw;
	left: 9.74vw;
	width: 28.33vw;
}

.main-heading-banner-contact {
	color: #1f1616;
	margin-bottom: 4.61vh;
}

.wrapper-contact {
	width: 37.6vw;
}

.secondary-heading-banner-contact {
	color: #1f1616;
	font-size: 1.3vw;
	font-family: 'Roboto-Thin';
}

.contact-cta-button {
	margin-top: 9.62vh;
	padding: 1.15vw 2.55vw;
  	background: #1e6deb;
  	border: none;
}

@media (max-width: 1200px) {
	.secondary-heading-banner-contact {
		font-size: 1.4vw;
	}
}

@media (max-width: 1100px) {
	.secondary-heading-banner-contact {
		font-size: 1.45vw;
	}
}

@media (max-width: 1000px) {
	.secondary-heading-banner-contact {
		font-size: 1.55vw;
		line-height: 1.66vw;
	}
}

@media (max-width: 900px) {
	.secondary-heading-banner-contact {
		font-size: 1.65vw;
		line-height: 1.76vw;
	}
}

@media (max-width: 800px) {
	.secondary-heading-banner-contact {
		font-size: 1.70vw;
		line-height: 1.86vw;
	}
}

@media(max-width: 768px) {
	.banner-contact {
		height: 934px;
	}

	.img-banner-contact {
		height: 127%;
    	width: auto;
		margin-top: -29%;
		margin-left: 0%;
	}

	.overlay-contact {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.63);
	}

	.heading-banner-contact {
		width: 68.1vw;
		top: 31.77vw;
		left: 10.16vw;
	}

	.main-heading-banner-contact {
		font-size: 10.42vw;
		line-height: 10.42vw;
		color: #ffffff;
		margin-bottom: 10.61vw;
	}

	.wrapper-contact  {
		width: 54.17vw;
	}

	.secondary-heading-banner-contact {
		font-size: 2.60vw;
		line-height: 3.91vw;
		color: #ffffff;
	}

	.contact-cta-button {
		margin-top: 4.43vw;
		padding: 1vw 7.53vw;
	}
}

@media(max-width: 640px) {
	.banner-contact {
		height: 760px;
	}
}

@media(max-width: 520px) {
	.banner-contact {
		height: 620px;
	}
}

@media(max-width: 425px) {
	.banner-contact {
	  height: 820px;
	}

	.img-banner-contact {
		height: 100%;
    	width: auto;
		margin-top: 0%;
		margin-left: -132%;
	}

	.overlay-contact {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.56);
	}

	.heading-banner-contact {
		top: 13.02vw;
		left: 9.74vw;
		width: 73.07vw;
	}

	.main-heading-banner-contact {
		color: #ffffff;
		margin-bottom: 4.61vw;
	}

	.wrapper-contact  {
		width: 66.4vw;
	}

	.secondary-heading-banner-contact {
		font-size: 4vw;
		line-height: 4vw;
		color: #ffffff;
	}

	.contact-cta-button {
		margin-top: 8vw;
		padding: 1vw 8.53vw;
	}
}

@media(max-width: 375px) {
	.banner-contact {
	  height: 750px;
	}
}