.home-img-container-3 {
	width: 100vw;
	overflow: hidden;
}

.img-container-style-3 {
	width: 100%;
	margin-top: -58.5%;
	margin-bottom: -42%;
}

@media (max-width: 768px) {
	.home-img-container-3 {
		height: 1160px;
	}

	.img-container-style-3 {
		width: auto;
		height: 100%;
		margin-top: 0%;
		margin-bottom: 0%;
	}
}

@media (max-width: 710px) {
	.home-img-container-3 {
		height: 1073px;
	}
}

@media (max-width: 685px) {
	.home-img-container-3 {
	  height: 1035px;
	}
}

@media (max-width: 650px) {
	.home-img-container-3 {
		height: 981px;
	}
}

@media (max-width: 600px) {
	.home-img-container-3 {
		height: 906px;
	}
}

@media (max-width: 560px) {
	.home-img-container-3 {
		height: 846px;
	}
}

@media (max-width: 530px) {
	.home-img-container-3 {
		height: 800px;
	}
}

@media (max-width: 500px) {
	.home-img-container-3 {
		height: 756px;
	}
}

@media (max-width: 470px) {
	.home-img-container-3 {
		height: 709px;
	}
}

@media (max-width: 445px) {
	.home-img-container-3 {
		height: 673px;
	}
}

@media (max-width: 425px) {
	.home-img-container-3 {
		height: 645px;
	}
}

@media (max-width: 375px) {
	.home-img-container-3 {
		height: 610px;
	}
}