.home-img-container-2 {
	width: 100vw;
	overflow: hidden;
}

.img-container-style-2 {
	width: 100%;
	margin-top: -16%;
	margin-bottom: -3%;
}

@media (max-width: 768px) {
	.home-img-container-2 {
		height: 1165px;
	}

	.img-container-style-2 {
		width: auto;
		height: 100%;
		margin-top: -0%;
		margin-bottom: -0%;
	}
}

@media (max-width: 610px) {
	.home-img-container-2 {
		height: 990px;
	}
}

@media (max-width: 500px) {
	.home-img-container-2 {
		height: 900px;
	}
}

@media (max-width: 425px) {
	.home-img-container-2 {
	  height: 645px;
	}
}

@media (max-width: 375px) {
	.home-img-container-2 {
	  height: 566px;
	}
}