.banner, .banner-contact {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.img-banner {
  display: block;
  width: 100%;
}

.img-banner-home {
  margin-top: -21%;
  margin-bottom: -3%;
}

.img-banner-contact {
  margin-top: -21%;
}

.img-banner-about-us {
  display: block;
  width: 172.9%;
  margin-top: -56.5%;
  margin-bottom: -14.5%;
  margin-left: -60%;
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  padding: 14.53vw 0px 12.65vw;
}
.banner-about-text {
  color: #ffffff;
  font-family: 'Roboto-Thin';
  font-size: 2.60vw;
  line-height: 3.13vw;
  width: 46.98vw;
  text-align: center;
}

.banner-highlight {
  color: #6BAEB9;
  width: 24.58vw;
}

.heading-banner {
  position: absolute;
  top: 35.5%;
  left: 11.93%;
  width: 27.24%;
}

.heading-banner-contact {
  position: absolute;
  top: 13.02vw;
  left: 9.74vw;
  width: 28.33vw;
}

.main-heading-banner {
  color: #6baeb9;
  margin-bottom: 2.85vh;
}

.main-heading-banner-contact {
  color: #1f1616;
  margin-bottom: 4.61vh;
}

.wrapper {
  width: 70%;
}

.wrapper-contact {
  width: 37.6vw;
}

.secondary-heading-banner {
  color: #1f1616;
}

.secondary-heading-banner-contact {
  font-size: 1.3vw;
  font-family: 'Roboto-Thin';
}

.contact-cta-button {
  margin-top: 9.62vh;
}

.arrow-about {
  width: 3.13vw;
}



/* responsive */



@media(max-width: 768px) {
  .banner {
    height: 1491px;
    margin-bottom: -21%;
  }

  .banner-contact {
    height: 1390px;
  }

  .banner-about {
    height: 1340px;
    margin-bottom: 0%;
  }

  .img-banner {
    height: 100%;
    width: auto;
  }

  .img-banner-home {
    margin-left: -135%;
  }

  .img-banner-contact {
    margin-top: 0%;
    margin-left: -132%;
  }

  .img-banner-about-us {
    height: 100%;
    width: auto;
    margin-top: -0%;
    margin-bottom: -0%;
    margin-left: -71%;
  }

  .banner-about-text {
    font-size: 5.33vw;
    line-height: 6.67vw;
    width: 73.07vw;
  }

  .overlay {
    padding: 79.53vw 0px 0vw;
  }

  .overlay-contact {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.56);
  }

  .heading-banner {
    top: 26.13vw;
    left: 10.4vw;
    width: 73.07vw;
  }

  .heading-banner-contact {
    width: 73.07vw;
  }

  .heading-banner-contact h2 {
    font-size: 10.67vw;
    line-height: 10.67vw;
  }

  .main-heading-banner {
    color: #707070;
    font-size: 10.67vw;
    line-height: 10.67vw;
  }

  .main-heading-banner-contact {
    color: #ffffff;
  }

  .wrapper, .wrapper-contact  {
    width: 66.4vw;
  }

  .secondary-heading-banner {
    color: #707070;
  }

  .secondary-heading-banner-contact {
    font-size: 4vw;
    line-height: 4vw;
    color: #ffffff;
  }

  .contact-cta-button {
    margin-top: 8vw;
  }

  .arrow-about {
    width: 6.02vw;
  }
}

@media (max-width: 685px) {
  .banner {
    height: 1350px;
  }

  .banner-contact {
    height: 1240px;
  }

  .banner-about {
    height: 1190px;
  }
}

@media (max-width: 630px) {
  .banner {
    height: 1200px;
  }

  .banner-contact {
    height: 1140px;
  }

  .banner-about {
    height: 1095px;
  }
}

@media (max-width: 500px) {
  .banner {
    height: 1000px;
  }

  .banner-contact {
    height: 970px;
  }

  .banner-about {
    height: 870px;
  }
}

@media(max-width: 425px) {
  .banner {
    height: 795px;
  }

  .banner-contact {
    height: 820px;
  }

  .banner-about {
    height: 740px;
  }
}

@media(max-width: 375px) {
  .banner-contact {
    height: 750px;
  }

  .banner-about {
    height: 652px;
  }
}