*,
html,
body {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 4.165vw;
  line-height: 4.165vw;
}

h4 {
  font-size: 2.6vw;
  line-height: 2.6vw;
}

p {
  font-size: 1.04vw;
  line-height: 1.56vw;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

li {
  font-size: 1.04vw;
  line-height: 1.25vw;
}

@font-face {
  font-family: "Arista-Bold";
  src: url('Arista-Pro-Bold-trial.ttf');
}
@font-face {
  font-family: "Arista-Fat";
  src: url('Arista-Pro-Fat-trial.ttf');
}
@font-face {
  font-family: "Arista-Light";
  src: url('Arista-Pro-Light-trial.ttf');
}
@font-face {
  font-family: "Roboto-Black";
  src: url('Roboto-Black.ttf');
}
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url('Roboto-BlackItalic.ttf');
}
@font-face {
  font-family: "Roboto-Bold";
  src: url('Roboto-Bold.ttf');
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url('Roboto-BoldItalic.ttf');
}
@font-face {
  font-family: "Roboto-Italic";
  src: url('Roboto-Italic.ttf');
}
@font-face {
  font-family: "Roboto-Light";
  src: url('Roboto-Light.ttf');
}
@font-face {
  font-family: "Roboto-LightItalic";
  src: url('Roboto-LightItalic.ttf');
}
@font-face {
  font-family: "Roboto-Medium";
  src: url('Roboto-Medium.ttf');
}
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url('Roboto-MediumItalic.ttf');
}
@font-face {
  font-family: "Roboto-Regular";
  src: url('Roboto-Regular.ttf');
}
@font-face {
  font-family: "Roboto-Thin";
  src: url('Roboto-Thin.ttf');
}
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url('Roboto-ThinItalic.ttf');
}

.title {
  font-family: 'Arista-Bold';
}

.title-main {
  font-size: 4.17vw;
  line-height: 4.17vw;
}

.paragraph {
  font-size: 1.04vw;
  line-height: 1.56vw;
}

.text {
  font-family: 'Roboto-Regular';
}

.text-bold {
  font-family: 'Roboto-Bold';
}

.text-medium {
  font-family: 'Roboto-Medium';
}

.text-thin {
  font-family: "Roboto-Thin";
}

.underlined {
  text-decoration: underline;
}

.link {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .title-main {
    font-size: 4.27vw;
    line-height: 4.27vw;
  }

  .paragraph {
    font-size: 1.14vw;
    line-height: 1.66vw;
  }

  h4 {
    font-size: 2.7vw;
    line-height: 2.7vw;
  }

  li {
    font-size: 1.14vw;
    line-height: 1.35vw;
  }
}

@media (max-width: 1100px) {
  .title-main {
    font-size: 4.37vw;
    line-height: 4.37vw;
  }

  .paragraph {
    font-size: 1.34vw;
    line-height: 1.86vw;
  }

  h4 {
    font-size: 2.8vw;
    line-height: 2.8vw;
  }

  li {
    font-size: 1.24vw;
    line-height: 1.45vw;
  }
}

@media (max-width: 1000px) {
  .title-main {
    font-size: 4.47vw;
    line-height: 4.47vw;
  }

  .paragraph {
    font-size: 1.54vw;
    line-height: 2.06vw;
  }

  h4 {
    font-size: 2.9vw;
    line-height: 2.9vw;
  }

  li {
    font-size: 1.34vw;
    line-height: 1.55vw;
  }
}

@media (max-width: 768px) {
  .title-main {
    font-size: 10.42vw;
    line-height: 10.42vw;
  }

  .paragraph {
    font-size: 2.60vw;
    line-height: 3.91vw;
  }

  h4 {
    font-size: 5.21vw;
		line-height: 5.21vw;
  }
}

@media (max-width: 425px) {
  h2 {
    font-size: 10.67vw;
    line-height: 10.67vw;
  }

  h4 {
    font-size: 8vw;
    line-height: 8vw;
  }

  p {
    font-size: 4vw;
    line-height: 4vw;
  }

  .title-main {
    font-size: 10.67vw;
    line-height: 10.67vw;
  }

  .paragraph {
    font-size: 4vw;
    line-height: 4vw;
  }
}