.img-container {
  width: 100vw;
  overflow: hidden;
}

.img-container-style-1 {
  width: 100%;
  margin-top: -20%;
  margin-bottom: -3%;
}

.img-container-style-2 {
  width: 100%;
  margin-top: -16%;
  margin-bottom: -3%;
}

.img-container-style-3 {
  width: 100%;
  margin-top: -58.5%;
  margin-bottom: -42%;
}

.about-img-container {
  width: 100%;
  margin-top: -7%;
  margin-bottom: -9%;
}

.logo-container-style {
  width: 100%;
}



@media (max-width: 768px) {
  .img-container {
    height: 900px;
  }

  .img-container2 {
    height: 1165px;
  }

  .img-container3 {
    height: 1160px;
  }

  .img-container-style-1 {
    width: auto;
    height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: -38%;
  }

  .img-container-style-2 {
    width: auto;
    height: 100%;
    margin-top: -0%;
    margin-bottom: -0%;
  }

  .img-container-style-3 {
    width: auto;
    height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .img-container-about {
    height: 1160px;
  }

  .about-img-container {
    height: 100%;
    width: auto;
    margin-top: 0%;
    margin-bottom: 0%;
  }
}

@media (max-width: 685px) {
  .img-container3 {
    height: 1000px;
  }
}

@media (max-width: 500px) {
  .img-container {
    height: 700px;
  }

  .img-container2 {
    height: 900px;
  }

  .img-container3 {
    height: 780px;
  }

  .img-container-about {
    height: 800px;
  }
}

@media (max-width: 425px) {
  .img-container {
    height: 515px;
  }

  .img-container2, .img-container3 {
    height: 645px;
  }

  .img-container-about {
    height: 660px;
  }
}

@media (max-width: 375px) {
  .img-container2 {
    height: 566px;
  }

  .img-container3 {
    height: 610px;
  }

  .img-container-about {
    height: 590px;
  }
}
