.information-content {
  color: #707070;
  text-align: center;
}

.client-content {
  margin: 0 6.77vw;
  padding: 8.7vw 0px 5.41vw;
}

.values-content {
  margin: 0 6.64vw;
  padding-bottom: 11.51vw;
}

.benefit-content {
  margin: 0 17.45vw;
  padding: 6.3vw 0 6.51vw;
}

.information-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-text {
  padding-top: 2.14vw;
}

.client-text {
  width: 34.94%;
  margin-bottom: 6.04vw;
}

.benefit-text {
  width: 38.18vw;
  margin-bottom: 3.65vw;
}

.flex-wrapper {
  display: flex;
  flex-direction: row;
}

.client-card {
  width: 25.1vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 24px;
  margin: 0 2.11%;
  padding: 11.87% 4.52% 5.48%;
}

.values-card {
  width: 25.1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 24px;
  padding: 2.87vw 3.75vw 3.02vw;
  margin: 4.74vw 2.11% 0;
}

.icon-style {
  position: absolute;
  top: -2.08vw;
  width: 8.33vw;
}

.values-card-icon {
  width: 5.21vw;
}

.card-title {
  padding-bottom: 2.71vw;
}

.values-card-title {
  margin: 0.47vw 0 2.08vw;
}

.card-cta {
  width: 30.21vw;
  margin: 0 auto;
  padding-top: 4.43vw;
  font-size: 1.25vw;
  line-height: 1.5vw;
}

.card-cta-link {
  font-weight: bold;
  color: #6baeb9;
}

.benefit-card-container {
  display: flex;
  flex-direction: row;
  width: 65.1vw;
  flex-wrap: wrap;
}

.benefit-card-container:last-child {
  margin-top: 2.96vw;
}

.benefit-card {
  
  width: 21.7vw;
}

.benefit-card-video {
  width: 7.08vw;
}

.benefit-card-text {
  line-height: 4.16vw;
}

@media (max-width: 768px) {
  /* benefit */
  .benefit-content {
    margin: 0 18.45vw;
    padding: 8.7vw 0px 5.41vw;
  }

  .benefit-text {
    width: 100%;
    margin-bottom: 3.65vw;
    font-size: 3.2vw;
    line-height: 4vw;
  }

  .benefit-card-container {
    width: 100%;
  }

  .benefit-card {
    width: 50%;
    margin-bottom: 7.47vw;
  }

  .benefit-card-video {
    width: 14.93vw;
  }

  .benefit-card-text {
    font-size: 3.2vw;
    line-height: 4vw;
    margin: 1.07vw 0 0;
  }

  .benefit-card-text2 {
    margin: 5.07vw 6vw 0;
  }

  /* clients */
  .client-content {
    margin: 0 6.77vw;
    padding: 20vw 0px 25.87vw;
  }

  .content-text {
    padding-top: 4vw;
  }

  div.information-heading h4 {
    margin-bottom: 0;
    font-size: 8vw;
    line-height: 8vw;
  }

  div.values-content h4 {
    font-size: 8vw;
    line-height: 8vw;
  }

  .client-text {
    width: 68.8vw;
    margin-bottom: 8.8vw;
    font-size: 3.2vw;
    line-height: 4vw;
  }

  .carousel-inner {
    padding-top: 9.6vw;
  }

  div.values-content .carousel-inner {
    padding-top: 17.6vw;
  }

  .carousel-indicators {
    display: none !important;
  }

  .client-card {
    width: 62.4vw;
    max-height: 76vw;
    margin: 0 auto;
    padding: 15.2vw 8.67vw;
  }

  .values-card {
    position: relative;
    width: 62.4vw;
    max-height: 84.33vw;
    margin: 0 auto;
    padding: 10.67vw 8.67vw 12.29vw;
  }

  .icon-style {
    width: 19.47vw;
    top: -10.08vw;
  }

  .values-card-icon {
    position: absolute;
    top: -8vw;
    width: 16vw;
  }

  .client-card h4 {
    margin-bottom: 0;
    font-size: 8vw;
    line-height: 8vw;
  }

  .card-title {
    padding-bottom: 5.71vw;
  }

  .values-card-title {
    margin: 0px 0 6.08vw;
  }

  .client-card p {
    font-size: 3.2vw;
    margin-bottom: 0;
  }

  .values-card p {
    font-size: 3.2vw;
    line-height: 4vw;
    margin-bottom: 0;
  }

  .card-cta {
    width: 67.2vw;
    margin: 0 auto;
    padding-top: 10.67vw;
    font-size: 3.2vw;
    line-height: 4vw;
  }
}
