.mission {
  display: flex;
  align-items: center;
  padding: 13.11vw 17.11vw 15.73vw;
}

.mission-img {
  width: 35.7vw;
}

.mission-text {
	margin-left: 2.84vw;
	color: #707070;
	margin-top: -1.56vw;
}

.mission-text-title {
	margin-bottom: 1.98vw;
}

@media (max-width: 768px) {
	.mission {
		flex-direction: column;
		text-align: center;
		padding: 29.09vw 16.40vw 25.07vw;
	}

	.mission-img {
		width: 100%;
		margin-bottom: 13.07vw;
	  }

	  .mission-text {
		margin-left: 0vw;
		margin-top: 0vw;
	}

	  .mission-text-title {
		  font-size: 8vw;
		  line-height: 8vw;
		  margin-bottom: 5.09vw;
	  }

	  .mission-text-paragraph {
		  font-size: 3.2vw;
	  }
}
