.home-cta-container2 {
	padding: 13.91vw 25.68vw;
	text-align: center;
	color: #707070;
}

.home-cta-description2 {
	font-size: 1.04vw;
	padding: 4.93% 0 6.64%;
}

.cta-button2 {
	padding: 1.15vw 2.55vw;
	background: #1e6deb;
	border: none;
}

@media (max-width: 768px) {
	.home-cta-container2 {
		padding: 25.87vw 13.87vw;
		text-align: center;
		color: #707070;
	}

	.home-cta-description2 {
		padding: 4.53vw 0 10.67vw;
	}

	.home-cta-description2 p {
		font-size: 3.2vw;
		line-height: 4vw;
		margin-bottom: 0;
	}

	.cta-button2 {
		padding: 4vw 8.53vw;
		background: #1e6deb;
		border: none;
	}
}